body
{
	margin: 0;
	padding: 0;
	background: url(city1.jpg) no-repeat center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.box
{
	border-style: solid;
	border-width: 1px;
	border-color: white;
	width: 450px;
	background: rgba(0,0,0,0.4);
	padding: 50px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic', sans-serif;
}


.box h1
{
	font-size: 50px;
	letter-spacing: 4px;
	font-family: 'Century Gothic', sans-serif;
	font-weight: 200;
}

.box h2
{
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 100;
	font-style: bold;
	margin: 0;
	padding-bottom: 0;
}

.box h4
{
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
	margin: 0;
	padding-bottom: 0;
}

.box h5
{
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
	margin: 0;
	padding-bottom: 40px;
}

.box p
{
	font-weight: 200;
	text-align: justify;
}

.box-img
{
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 0px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin: 0 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 0px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 0px;
}

ul li a img {
  width: 100%;
}

.boxj
{
	color: gray;
	font-family: 'Century Gothic', sans-serif;
}